.container__work-title
{
  padding-top: 5rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__work-sub
{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}


.work {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100hv;
}

.card-container {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-card {
  background-color: transparent;
  width: 190px;
  height: 254px;
  perspective: 1000px;
  font-family: sans-serif;
  margin: 0 8px 16px 8px; /* add bottom margin to create space between rows */
}

  
.title {
  font-size: small;
  
  text-align: center;
  margin: 0;
}

  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid var;
    border-radius: 1rem;
  }
  
  .flip-card-front {
    background: linear-gradient(120deg, red 60%, rgb(255, 231, 222) 88% rgb(255, 211, 195) 40%, rgba(227, 174, 154, 0.603) 48%);
    color: var(--color-golden);
  }
  
  .flip-card-back {
    background: linear-gradient(120deg, #f6f6f5 30%, white 88%,   40%, var(--color-crimson) 78%);
    color: grey;
    transform: rotateY(180deg);
  }

 
  .comp{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem;
  }

  .container__links
  {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .container__eye h1
  {
    font-size: small;
    padding-bottom: 1rem;
  }

  .container__git h1
  {
    font-size: small;
    padding-bottom: 1rem;
  }


  .img{
    object-fit: contain;
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    padding-left : 1rem;
    padding-right : 1rem;
  }


